
/* Header Styles */
.header {
  padding: 0.1em 2.25em;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.header ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  font-size: 2rem;
  font-family: 'monument_extendedlight';
}

.header li {
  margin-right: 1em;
}

.header a {
  padding-bottom: 10px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 3.4px;
}

.selected {
  position: relative;
}

.selected:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

.header.work .selected:before {
  border-bottom: 1px solid #272626;
}

.headphones {
  position: absolute;
  top: 0;
  left: 0;
}

.headphones:hover {
  animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbc-timeslot-group {
  min-height: 70px !important;
}
/* End Header Styles */