
/* Header Styles */
.header {
  width: 17rem;
  position: relative;
}

.header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 2rem;
  font-family: 'monument_extendedlight';
  justify-content: space-between;
}

.header a {
  padding-bottom: 10px;
  color: inherit;
  text-transform: uppercase;
}

.selected {
  position: relative;
}

.selected:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

.header.work .selected:before {
  border-bottom: 1px solid #272626;
}

/* End Header Styles */