/* Global */
.section {
  padding: 1em;
}

/* end global */
/* Homepage Styles */
.top {
  padding: 9em 5em 5em 5em;
  min-height: 100vh;
  position: relative;
}
.container {
  min-height: 60vh;
  padding: 0 0.5rem;
  max-width: 1340px;
  margin: 0 auto;
}

.container h2 {
  padding-bottom: 5px;
  position: relative;
  display: inline;
}

.container h2:before{
  content: "";
  position: absolute;
  width: 91px;
  height: 3px;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid white;
}

.main {
  position: relative;
  color: #F6F1F1;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 0em;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 6.75rem;
  font-family: 'monument_extendedregular';
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #F3EFE8;
}

.fullbody_home {
  /* background: linear-gradient(to right, #272626 50%, white 50%); */
  /* background-size: 200% 100%;
  background-position:left bottom; */
  min-height: 100vh;
}

.get_in_touch {
  padding: 1em;
  background-image: url('/images/Email.svg');
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  margin-top: -250px;
  position: relative;
  width: 240px;
}

.get_in_touch>a {
  position: absolute;
  left: -16px;
}

.social_links {
  /* margin: 30em 0 0 5em; */
  position: absolute;
  bottom: -80px;
  left: 40px;
}

.social_links a {
  text-decoration: underline;
}

.circle {
  background: #B28F59;
  color: #F6F1F1;
  width: 211px;
  height: 211px;
  border-radius: 211px;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.7em;
  margin-right: 0.8em;
  transform: rotate(9deg);
  flex-grow: 1;
}

.circle:hover {
  transform: rotate(0);
  width: 220px;
  height: 220px;
}

.intro {
  width: 587px;
  font-size: 1.275rem;
  margin-top: 12em;
  position: absolute;
  left: 0;
}
.intro_holder {
  width: 587px;
}

.scroll {
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.cardLeft {
  display: flex;
  justify-content: space-around;
  margin: 3em 3em 7em;
}

.cardRight {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 3em 3em 7em;
}

.cardCopy {
  font-family: 'neue_machinalight';
  width: 537px;
}

.cardCopy p {
  line-height: 2em;
}

.cardCopy li {
  margin: .5em 0;
}

.cardTitles {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
}

.cardTitle {
  font-family: 'Neue Machina';
  font-size: 4em;
  -webkit-text-stroke: 2px white;
  color: #272626;
  display: inline-block;
  margin-right: 10px;
}

.cardTitleSubText {
  font-family: 'neue_machinalight';
  font-size: .95em;
  padding: 1.1em 1.2em;
  text-align: center;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  color: #CFCDCD;
}

.cardTitleSubText::before {
  content: '(';
  position: absolute;
  left: -5px;
  font-size: 3.3em;
  top: 0;
}
.cardTitleSubText::after {
  content: ')';
  position: absolute;
  right: -5px;
  font-size: 3.3em;
  top: 0;
}

.skills {
  padding: 3em;
}

.skills h3 {
  border-bottom: 1px solid;
  color: rgb(142, 139, 139)
}

.skillsContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 1em;
}

.skillsContainer div {
  margin: 2em 0;
  text-align: center;
}

.tools {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 5em 3em 0 3em;
}

.tools span {
  display: block;
  text-align: center;
  padding-bottom: 1.5rem;
}

.tools img {
  max-height: 135px;
  margin: 0 auto;
}

.tool {
  margin-bottom: 2em;
  text-align: center;
}

.experiences {
  padding: 3em;
}

.experience {
  padding: 0em 3em;
  border-bottom: 1px solid;
}

.experience h1 {
  flex-grow: 1;
  margin-left: 8em;
}

.experience h3 {
  display: block;
  color: #F6F1F1;
  font-size: 16px;
  flex-grow: 1;
  height: 20px;
}

.experience span {
  font-size: 10px;
  display: block;
}

.experience .jobTitle {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
}

.experience .icon {
  text-align: center;
  min-width: 200px;
  align-self: flex-end;
}

.contact {
  padding: 4em 1em;
  min-height: 5vh;
}

.contact .touch {
  font-size: 8em;
  font-family: 'monument_extendedregular';
  position: relative;
}

.rewind {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* End Homepage Styles */

/* Footer */
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}