/* Global */
.section {
  padding: 1em;
}

/* end global */
/* Page Styles */
.fullbody_work {
  color: #272626;
  background: #F3EFE8;
  mix-blend-mode: difference;
}

.overlay_bg {
  height:0;
  width:0;
  background: linear-gradient(to right, #272626 50%, #F3EFE8 50%);
  width: 100vw;
  height: 100vh;
  background-size: 200% 100%;
  background-position: right bottom;
  animation: animatedBackgroundLTR 1s cubic-bezier(.19,.67,.89,.38);
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes animatedBackgroundLTR {
  from { background-position: left bottom; }
  to { background-position: right bottom; }
} 

.top {
  padding: 9em 5em 5em 5em;
  min-height: 100vh;
  position: relative;
}
.container {
  min-height: 60vh;
  padding: 0 0.5rem;
  max-width: 1340px;
  margin: 0 auto;
}

.container h2 {
  position: relative;
}

.container h2:before{
  content: "";
  position: absolute;
  width: 91px;
  height: 3px;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid #272626;
}


.main {
  position: relative;
  /* color: #F6F1F1; */
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 0em;
  width: 81%;
}

.intro {
  color: #F3EFE8;
  width: 587px;
  font-size: 1.275rem;
  margin-top: 4em;
  position: absolute;
  left: 0;
}

.intro p.work_page_copy {
  mix-blend-mode: difference;
  position: absolute;
  top: 150px;
  overflow: hidden;
}

.intro_holder {
  width: 587px;
}

.title {
  mix-blend-mode: difference;
  margin: 0;
  font-size: 6.75rem;
  font-family: 'monument_extendedregular';
  text-transform: uppercase;
  position: relative;
  letter-spacing: 15px;
}

.get_in_touch {
  padding: 1em;
  background-image: url('/images/Email_black.svg');
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  margin-top: -250px;
  position: relative;
  width: 240px;
  margin-right: -230px;
  height: 300px;
}

.get_in_touch>a {
  position: absolute;
  left: -16px;
}

.circle {
  font-family: 'neue_machina';
  background: #B28F59;
  color: #272627;
  width: 211px;
  height: 211px;
  border-radius: 211px;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  padding: 2.2em 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.9em;
  margin-right: 0.8em;
  transform: rotate(9deg);
  flex-grow: 1;
  letter-spacing: 5px;
  line-height: 1em;
}

.circle:hover {
  transform: rotate(0);
  width: 220px;
  height: 220px;
  font-size: 2.5em;
  padding: 1.5em 0;
  margin-top: 1.4em;
  margin-left: -6px;
}

.cardLeft.link,
.cardRight.link {
  cursor: pointer;
}

.cardLeft {
  display: flex;
  justify-content: space-around;
  margin: 3em;
  text-align: center;
  margin: 3em 3em 10em 3em;
  position: relative;
}

.cardLeft img {
  z-index: 0;
}

.cardLeft h1 {
  font-size: 75px;
  font-family: 'monument_extendedregular';
  z-index: 1;
  margin-bottom: 0px;
}

.cardLeft .number {
  position: absolute;
  left: -70px;
  bottom: 0px;
}

.cardLeft .number h1 {
  font-family: 'neue_machinalight';
}

.cardRight {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 3em 3em 10em 3em;
  position: relative;
}

.cardRight .number {
  position: absolute;
  right: -70px;
  bottom: 0px;
}

.cardRight .number h1 {
  font-family: 'neue_machinalight';
}

.cardRight h1 {
  font-size: 75px;
  font-family: 'monument_extendedregular';
  margin-bottom: 0px;
}

.cardCopy {
  font-family: 'monument_extendedlight';
  width: 650px;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}

.cardRight .cardCopy {
  margin-right: -140px; 
}

.cardLeft .cardCopy {
  margin-left: -140px; 
}

.contact {
  padding: 4em 1em;
  min-height: 40vh;
}

.contact .touch {
  font-size: 8em;
  font-family: 'monument_extendedregular'
}

.cardLeft:hover.link .view_study_link,
.cardRight:hover.link .view_study_link {
  height: 2em;
}

.view_study_link {
  text-transform: uppercase;
  font-family: 'monument_extendedregular';
  height: 0;
  overflow: hidden;
  display: block;
  transition: all 0.25s ease;
  /* opacity: 0; */
}

.scroll {
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.footer {
  position: relative;
}

.rewind {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes slideIn {
  0% {
    background-position: left bottom
  }
  100% {
    background-position: right bottom;
  }
}